
<% wrap_layout :layout do %>
<header class="app__header">
	<div class="app__header__left">
		<button class="app__header__btn app__header__btn--menu" id="app__header__btn--menu"><i class="swapp-menu"></i></button>
	</div>

	<a href="/" class="app__header__logo"><i class="swapp-logotype"></i></a>

	<div class="app__header__right">
		<button class="app__header__btn app__header__btn--search" id="app__header__btn--search"><i class="swapp-search"></i></button><!-- 
		 --><button class="app__header__btn app__header__btn--notifications" id="app__header__btn--notifications"><span class="count"></span><i class="swapp-bell"></i></button>
	</div>
</header>


<nav class="app__nav" id="app__nav">
	
</nav>

<nav class="app__notifications" id="app__notifications">
	
</nav>


<section class="search" id="search">
	<h1 class="search__h1">Show <span class="thin">me some ...</span></h1>

	<div class="tags tags--hashtags">
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
		<button class="tag"><%= lorem.word %></button>
	</div>

	<div class="tags">
		<button class="tag">Livres</button>
		<button class="tag">Lomo &amp; CO</button>
		<button class="tag">Home</button>
		<button class="tag">Kids</button>
		<button class="tag">Papeterie</button>
		<button class="tag">Accessoires</button>
		<button class="tag">Cadeaux</button> 
	</div>
</section>	

<section class="app" id="app">
	
	<%= yield %>

</section>
<% end %>
